@import url("primeicons/primeicons.css");

div {
    background-image: url(../image/icon.png);
}

span {
    background-image: url(../image/icon.png);
}

a {
    background-image: url(../image/icon2.png);
}

p {
    background-image: url(../image/icon3.svg);
}